<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PacijentController</servlet-name>
        <servlet-class>com.ordinacija.controller.PacijentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.ordinacija.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BolestiController</servlet-name>
        <servlet-class>com.ordinacija.controller.BolestiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBolestiServlet</servlet-name>
        <servlet-class>com.ordinacija.controller.SearchBolestiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CenovnikController</servlet-name>
        <servlet-class>com.ordinacija.controller.CenovnikController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCenovnikServlet</servlet-name>
        <servlet-class>com.ordinacija.controller.SearchCenovnikServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StomatologController</servlet-name>
        <servlet-class>com.ordinacija.controller.StomatologController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StomatologLogout</servlet-name>
        <servlet-class>com.ordinacija.controller.StomatologLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReklamacijeController</servlet-name>
        <servlet-class>com.ordinacija.controller.ReklamacijeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledController</servlet-name>
        <servlet-class>com.ordinacija.controller.PregledController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PacijentController</servlet-name>
        <url-pattern>/PacijentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BolestiController</servlet-name>
        <url-pattern>/BolestiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBolestiServlet</servlet-name>
        <url-pattern>/SearchBolestiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CenovnikController</servlet-name>
        <url-pattern>/CenovnikController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCenovnikServlet</servlet-name>
        <url-pattern>/SearchCenovnikServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StomatologController</servlet-name>
        <url-pattern>/StomatologController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StomatologLogout</servlet-name>
        <url-pattern>/StomatologLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReklamacijeController</servlet-name>
        <url-pattern>/ReklamacijeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledController</servlet-name>
        <url-pattern>/PregledController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
